{% extends 'base.html' %}

{% block title %}
    о нас
{% endblock %}

{% block body %}
    <body class="two-column">
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">Half-Elvens</a></h1>
                    {#                    <p>список эльфов</p>#}
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="/">главная</a> <a
                            href="/list-elfs/">список</a> <a href="/add-elf/">добавить эльфа</a> <a
                            href="/about/" class="active">о нас</a> <a href="/admin/">админка</a></nav>
                </div>
            </div>

        </header>
    </div>
    <div id="wrapper">
        <div class="5grid-layout">
            <div id="page">
                <div class="row">
                    <div class="12u">
                        <div class="row">
                            <div class="4u">
                                <section id="sidebar">
                                    <h2>о нас</h2>

                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="5grid-layout">
        <div id="copyright">
            <section>
                <p>&copy; half-elvens></p>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
