{% extends 'base.html' %}

{% block title %}
    добавить эльфа
{% endblock %}


{% block body %}
    <body class="two-column">
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">Half-Elvens</a></h1>
{#                    <p>список эльфов</p>#}
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="/">главная</a> <a
                            href="/list-elfs/">список</a> <a href="/add-elf/" class="active">добавить эльфа</a> <a
                            href="/about/">о нас</a> <a href="/admin/">админка</a></nav>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div id="wrapper">
            <div class="5grid-layout">
                <div id="page">
                    <div class="row">
                        <div class="12u">
                            <div class="row">
                                <section id="content">
                                    <h2>Two COlumn #1</h2>
                                    <p class="subtitle">Donec leo, vivamus fermentum nibh in augue praesent a lacus
                                        at
                                        urna congue rutrum</p>
                                    <div class="alignleft">
                                        <div class="image-style1"><a href="#"><img src="../static/images/pics02.jpg"
                                                                                   alt=""></a></div>
                                        <div><a href="#"><img src="../static/css/images/img02.png" width="262"
                                                              height="30" alt=""></a></div>
                                    </div>
                                    <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus
                                        et,
                                        tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem
                                        semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac
                                        mauris.
                                        Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem,
                                        imperdiet
                                        at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus ac magna.
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                        ac
                                        turpis egestas. Pellentesque pede. Donec pulvinar ullamcorper metus. In eu
                                        odio
                                        at lectus pulvinar mollis. </p>
                                    <p>&nbsp;</p>
                                    <div class="container mt-5">
                                        <h2>Добавить эльфа</h2>
                                        <form method="post">
                                            <p>имя</p>
                                            <input type="text" name="name" id="name" class="form-control"><br>
                                            <p>отчество</p>
                                            <input type="text" name="patronymic" id="patronymic"
                                                   class="form-control"><br>
                                            <p>фамилия</p>
                                            <input type="text" name="last_name" id="last_name" class="form-control"><br>
                                            <p>псевдоним</p>
                                            <input type="text" name="nickname" id="nickname" class="form-control"><br>
                                            <p>фото</p>
                                            <input type="image" name="photo" id="photo" class="form-control"><br>
                                            <p>категория</p>
                                            <input type="text" name="category_elf" id="category_elf"
                                                   class="form-control"><br>
                                            <p>цитата</p>
                                            <textarea name="quote" id="quote" class="form-control"></textarea><br>
                                            <p>дата цитаты </p>
                                            <input type="date" name="date_quote" id="date_quote"
                                                   class="form-control"><br>
                                            <button type="submit" class="btn btn-success">отправить</button>

                                        </form>

                                    </div>

                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="5grid-layout">
        <div id="copyright">
            <section>
                <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotogrph.com/">Fotogrph</a> | Design:
                    <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
