{% extends 'base.html' %}

{% block title %}
    админка
{% endblock %}

{% block body %}
    <body>
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">elfs</a></h1>
                    <p>список эльфов</p>
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="/">главная</a> <a
                            href="/list-elfs/">список</a> <a href="/add-elf/">добавить эльфа</a> <a
                            href="/about/">о нас</a> <a href="/admin/" class="active">админка</a></nav>
                </div>
            </div>
        </header>
    </div>
    <div id="wrapper">
        <div class="5grid-layout">
            <div id="page">
                <div class="row">
                    <div class="12u">
                        <div id="content">
                            <h2>Администрирование сайта</h2>
                            <p class="subtitle">будьте внимательны и проверяйте информацию</p>


                            <div class="container mt-5">
                                <h2>Добавить модератора</h2>
                                <form method="post" action="/add-user/">
                                    <p>имя</p>
                                    <input type="text" name="name" id="name" class="form-control"><br>
                                    <p>login</p>
                                    <input type="text" name="login" id="login" class="form-control"><br>
                                    <p>пароль</p>
                                    <input type="password" name="password" id="password" class="form-control"><br>
                                    <p>email</p>
                                    <input type="email" name="email" id="email" class="form-control"><br>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="is-active" value=""
                                               id="is-active"
                                               checked>
                                        <label class="form-check-label" for="is-active">
                                            активный
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="superuser" value=""
                                               id="superuser">
                                        <label class="form-check-label" for="superuser">
                                            админ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="moderator" value=""
                                               id="moderator"
                                               checked>
                                        <label class="form-check-label" for="moderator">
                                            модератор
                                        </label>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success">отправить</button>

                                </form>
                            </div>

                            <p>&nbsp;</p>
                            <hr>

                            <div class="container mt-5">
                                <h2>добавить категорию эльфов</h2>
                                <form method="post" action="/add-category-elf/">
                                    <p>название категории</p>
                                    <input type="text" name="name-elf-type" id="name-elf-type" class="form-control"><br>

                                    <button type="submit" class="btn btn-success">отправить</button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <div class="row">
                            <div id="splash"><span>In posuere eleifend</span> odio quisque semper augue maecenas ligula
                                congue rutrum. Pellentesque vulputaterisus semper.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="12u" id="gallery">
                        <div class="row">
                            <div class="4u">
                                <section>
                                    <div>
                                        <div class="image-style1"><a href="#"><img src="../static/images/pics03.jpg"
                                                                                   alt=""></a>
                                        </div>
                                        <div><a href="#"><img src="../static/css/images/img02.png" width="262"
                                                              height="30"
                                                              alt=""></a></div>
                                    </div>
                                </section>
                            </div>
                            <div class="4u">
                                <section>
                                    <div>
                                        <div class="image-style1"><a href="#"><img src="../static/images/pics04.jpg"
                                                                                   alt=""></a>
                                        </div>
                                        <div><a href="#"><img src="../static/css/images/img02.png" width="262"
                                                              height="30"
                                                              alt=""></a></div>
                                    </div>
                                </section>
                            </div>
                            <div class="4u">
                                <section>
                                    <div>
                                        <div class="image-style1"><a href="#"><img src="../static/images/pics05.jpg"
                                                                                   alt=""></a>
                                        </div>
                                        <div><a href="#"><img src="../static/css/images/img02.png" width="262"
                                                              height="30"
                                                              alt=""></a></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="5grid-layout">
        <div id="copyright">
            <section>
                <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotogrph.com/">Fotogrph</a> | Design:
                    <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
