{% extends 'base.html' %}

{% block title %}
    админка
{% endblock %}

{% block body %}
    <body>
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">elfs</a></h1>
                    <p>список эльфов</p>
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="/">главная</a> <a
                            href="/list-elfs/">список</a> <a href="/add-elf/">добавить эльфа</a> <a
                            href="/about/">о нас</a> <a href="/admin/" class="active">админка</a></nav>
                </div>
            </div>
        </header>
    </div>
    <div id="wrapper">
        <div class="5grid-layout">
            <div id="page">
                <div class="row">
                    <div class="12u">
                        <section id="content">
                            <h2>One column</h2>
                            <p class="subtitle">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna
                                congue rutrum</p>
                            <div class="alignleft">
                                <div class="image-style1"><a href="#"><img src="../static/images/pics02.jpg" alt=""></a>
                                </div>
                                <div><a href="#"><img src="../static/css/images/img02.png" width="262" height="30"
                                                      alt=""></a></div>
                            </div>
                            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus.
                                Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend.
                                Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit
                                nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et,
                                wisi. Pellentesque adipiscing purus ac magna. Pellentesque habitant morbi tristique
                                senectus et netus et malesuada fames ac turpis egestas. Pellentesque pede. Donec
                                pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna,
                                elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed
                                blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a
                                lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra. Consectetuer adipiscing elit. Nam
                                pede erat, porta eu, lobortis eget, tempus et, tellus. </p>
                            <p>&nbsp;</p>
                            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus.
                                Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend.
                                Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit
                                nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et,
                                wisi. Pellentesque adipiscing purus ac magna. Pellentesque habitant morbi tristique
                                senectus et netus et malesuada fames ac turpis egestas. Pellentesque pede. Donec
                                pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna,
                                elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum
                                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed
                                blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a
                                lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In hac
                                habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Pellentesque erat
                                erat, tincidunt in, eleifend accumsan, malesuada eget, augue. Suspendisse sit amet
                                tellus in eros bibendum condimentum. Vestibulum suscipit volutpat nulla.<br>
                            </p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <div class="row">
                        <div id="splash"><span>In posuere eleifend</span> odio quisque semper augue maecenas ligula
                            congue rutrum. Pellentesque vulputaterisus semper.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="12u" id="gallery">
                    <div class="row">
                        <div class="4u">
                            <section>
                                <div>
                                    <div class="image-style1"><a href="#"><img src="../static/images/pics03.jpg" alt=""></a>
                                    </div>
                                    <div><a href="#"><img src="../static/css/images/img02.png" width="262" height="30"
                                                          alt=""></a></div>
                                </div>
                            </section>
                        </div>
                        <div class="4u">
                            <section>
                                <div>
                                    <div class="image-style1"><a href="#"><img src="../static/images/pics04.jpg" alt=""></a>
                                    </div>
                                    <div><a href="#"><img src="../static/css/images/img02.png" width="262" height="30"
                                                          alt=""></a></div>
                                </div>
                            </section>
                        </div>
                        <div class="4u">
                            <section>
                                <div>
                                    <div class="image-style1"><a href="#"><img src="../static/images/pics05.jpg" alt=""></a>
                                    </div>
                                    <div><a href="#"><img src="../static/css/images/img02.png" width="262" height="30"
                                                          alt=""></a></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="5grid-layout">
        <div id="copyright">
            <section>
                <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotogrph.com/">Fotogrph</a> | Design:
                    <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
