<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>{% block title %} {% endblock %}</title>

    <meta charset="utf-8">
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/5grid/core.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/5grid/core-desktop.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/5grid/core-1200px.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/5grid/core-noscript.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-desktop.css') }}">
    </noscript>
    <script src="{{ url_for('static', filename='css/5grid/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='css/5grid/init.js') }}?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
</head>

{% block body %} {% endblock %}


</html>