{% extends 'base.html' %}

{% block title %}
    список эльфов
{% endblock %}

{% block body %}

    <body>
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">Half-Elvens</a></h1>
                    {#                    <p>список эльфов</p>#}
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="/">главная</a> <a
                            href="/list-elfs/" class="active">список</a> <a href="/add-elf/">добавить эльфа</a> <a
                            href="/about/">о нас</a> <a href="/admin/">админка</a></nav>
                </div>
            </div>
        </header>
    </div>
    {#    <div class="row">#}
    {#        <div class="12u">#}
    {#            <div class="row">#}
    {#                <div id="splash"><span>полуэльфы</span>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {#        <div class="12u" id="gallery">#}
    {#            <div class="row">#}
    {#                <div class="4u">#}
    {#                    <section>#}
    {#                        <div>#}
    {#                            <div class="image-style1"><a href="#"><img src="../static/images/pics03.jpg"#}
    {#                                                                       alt=""></a></div>#}
    {#                            <div><a href="#"><img src="../static/css/images/img02.png" width="262"#}
    {#                                                  height="30" alt=""></a></div>#}
    {#                        </div>#}
    {#                    </section>#}
    {#                </div>#}
    {#                <div class="4u">#}
    {#                    <section>#}
    {#                        <div>#}
    {#                            <div class="image-style1"><a href="#"><img src="../static/images/pics04.jpg"#}
    {#                                                                       alt=""></a></div>#}
    {#                            <div><a href="#"><img src="../static/css/images/img02.png" width="262"#}
    {#                                                  height="30" alt=""></a></div>#}
    {#                        </div>#}
    {#                    </section>#}
    {#                </div>#}
    {#                <div class="4u">#}
    {#                    <section>#}
    {#                        <div>#}
    {#                            <div class="image-style1"><a href="#"><img src="../static/images/pics05.jpg"#}
    {#                                                                       alt=""></a></div>#}
    {#                            <div><a href="#"><img src="../static/css/images/img02.png" width="262"#}
    {#                                                  height="30" alt=""></a></div>#}
    {#                        </div>#}
    {#                    </section>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    <div class="row">
        <div class="12u">
            <section id="content">
                <h2><span>полуэльф</span></h2>
                <p class="subtitle">{{ context.elf.name }} {{ context.elf.last_name }}</p>
                <div class="alignleft">
                    <div class="image-style1"><a href="#"><img src="../static/images/pics02.jpg" alt=""></a>
                    </div>
                    <div><a href="#"><img src="../static/css/images/img02.png" width="262" height="30"
                                          alt=""></a></div>
                </div>
                <p>{{ context.elf.quote }} </p>
                <p>&nbsp;</p>
                <p>{{ context.elf. date_quote }}
                </p>
            </section>
        </div>
    </div>

    <div class="5grid-layout">
        <div id="copyright">
            <section>
                <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotogrph.com/">Fotogrph</a> | Design:
                    <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
            </section>
        </div>
    </div>
    </body>
{% endblock %}