{% block header %}
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">Elfs</a></h1>
                    <p>список эльфов</p>
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="" class="active">главная</a> <a
                            href="list-elfs/">список</a> <a href="add-elf/">добавить эльфа</a> <a
                            href="about/">о нас</a> <a href="admin/">админка</a></nav>
                </div>
            </div>
        </header>
    </div>
{% endblock %}