{% extends 'base.html' %}

{% block title %}
    список эльфов
{% endblock %}

{% block body %}
    <body>
    <div id="header-wrapper">
        <header id="header" class="5grid-layout">
            <div class="row">
                <div class="12u">
                    <!-- Logo -->
                    <h1><a href="#" class="mobileUI-site-name">Half-Elvens</a></h1>
                    {#                    <p>список эльфов</p>#}
                    <!-- Nav -->
                    <nav class="mobileUI-site-nav"><a href="/">главная</a> <a
                            href="/list-elfs/" class="active">список</a> <a href="/add-elf/">добавить эльфа</a> <a
                            href="/about/">о нас</a> <a href="/admin/">админка</a></nav>
                </div>
            </div>
        </header>
    </div>
    <div id="wrapper">
        <div class="5grid-layout">
            <div id="page">
                <div class="row">
                    <div class="12u">
                        <div class="row">
                            <div id="splash"><span>категории</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="12u" id="gallery">
                        <div class="row">
                            {% for el in context.category_elfs %}
                                <div class="4u">
                                    <section>
                                        <div>
                                            <div class="image-style1"><a href="/list-elfs/{{ el.name }}">
                                                <img src="../static/images/pics03.jpg" alt="">
                                                <h3>{{ el.name }}</h3>
                                            </a></div>
                                            <div><a href="#"><img src="../static/css/images/img02.png" width="262"
                                                                  height="30" alt=""></a></div>
                                        </div>
                                    </section>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="12u">
                        <div class="row">
                            <div id="splash"><span>полуэльфы</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="12u" id="gallery">
                        <div class="row">
                            {% for el in context.elfs %}
                                <div class="4u">
                                    <section>
                                        <div>
                                            <div class="image-style1"><a href="/elf/{{ el.id }}"><img src="../static/images/pics03.jpg"
                                                                                       alt=""></a></div>
                                            <div><a href="#"><img src="../static/css/images/img02.png" width="262"
                                                                  height="30" alt=""></a></div>

                                            <h3>{{ el.name }} {{ el.last_name }}</h3>
                                        </div>
                                    </section>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="5grid-layout">
        <div id="copyright">
            <section>
                <p>&copy; Your Site Name | Images: <a target="_blank" href="http://fotogrph.com/">Fotogrph</a> | Design:
                    <a target="_blank" href="http://html5templates.com/">HTML5Templates.com</a></p>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
